{% extends '_base.html' %}
{% load static %}

{% block localcss %}
   <style>
        body {
            padding-top: 56px; /* Adjusted for the fixed navbar height */
        }

        .btn-mute-unmute {
            position:absolute;
            top:0;
            right:0;
        }
    </style>
{% endblock localcss %}

{% block insidebody %}
<!-- Navbar -->
<nav class="navbar navbar-light bg-light fixed-top topNav" style="z-index:8">
    <a class="navbar-brand d-md-none" href="#" id="navBarBrand">SocialBook</a>

    <!-- Navbar Items -->
    <ul class="navbar-nav ml-auto d-inline-block">
         <!-- Message Icon with Small Circular Badge -->
         <li class="nav-item d-inline-block mx-1 position-relative" id="nav-li-search">
            <label for="searchUsername" class="sr-only">Search</label>
            <input type="text" name="username" id="searchUsername" class="form-control form-control-sm" placeholder="Search" autocomplete="off">
            <i class="fas fa-search" style="position: absolute; right: 8px; top: 50%; transform: translateY(-50%);"></i>
            <ul id="searchResults" class="list-group position-absolute mt-1" style="width: 100%; display: none;"></ul>
        </li>

        <!-- Bell Icon with Small Circular Badge -->
        <li class="nav-item d-inline-block mx-1 position-relative">
            <a class="nav-link" href="#">
                <i class="far fa-bell" style="color: #19191a;"></i>
                <span class="badge badge-danger badge-pill position-absolute top-0 end-0 rounded-circle" style="font-size: 0.6em;">3</span>
            </a>
        </li>
    </ul>
</nav>

<!-- Main Content -->
<div class="container mt-1" style="margin-bottom:65px">
    
    <!-- Stories Section -->
    <section class="d-flex justify-content-start align-items-center mt-1 sb-stories">
        <!-- Circular profile image for each story -->
        <div class="mr-2">
            <div class="rounded-circle my-story bg-primary text-center text-white mr-2" style="width: 60px; height: 60px; overflow: hidden;">
              <img src="{{user.userprofile.profile_img.url}}" alt="Story 1" class="img-fluid rounded-circle" style="object-fit: cover; width: 100%; height: 100%;">            
            </div>
            <span>Your story</span>
        </div>
        <div>
            <div class="rounded-circle bg-primary text-center text-white mr-2" style="width: 60px; height: 60px; overflow: hidden;">
              <img src="https://via.placeholder.com/40x40" alt="Story 1" class="img-fluid rounded-circle" style="object-fit: cover; width: 100%; height: 100%;">            
            </div>
            <span>username</span>
        </div>
        <!-- Add more circular profiles for additional stories as needed -->
    </section>


    <!-- User Feed Section -->
    <section class="feed" id="contentArea">

    </section>

    <!-- load more icon -->
    <div class="text-center"><button class="" id="loadMoreButton"><i class="fas fa-rotate"></i></button></div>

</div>


{% endblock insidebody %}


{% block scripts %}
  <script src="{% static 'js/index.js' %}"></script>
{% endblock scripts %}
