{% extends '_base.html' %}

{% block title %}SocialBook - Post Detail{% endblock title %}

{% block localcss %}
    <style>
        * {
            box-sizing: border-box;
        }
        .nav {
            position: sticky;
            width:100%;
            padding:10px
        }

        #reelsContainer {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 60px;
        }

        #contentArea {
            max-width: 523px;
            width: 100%;
            padding-top: 20px;

        }

        .reel-container {
            width: 100%;
            max-width: 340px;
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            position: relative;
            overflow: hidden;
            justify-content: center;
            margin-bottom: 10px;
        }

        .mute-unmute-button {
            position: absolute;
            top: 10px;
            right: 10px;
            background: none;
            border: none;
            padding: 0;
            font-size: 20px;
            color: white;
            cursor: pointer;
        }

        .reel-info {
            position: absolute;
            bottom:0;
            left:0;
            cursor:pointer;
            color:white;

        }

        .reelFigure {
            max-width:280px;
            height:100%;
            background-color: black;
            flex-shrink: 1.5;
            position:absolute;
            top:0;
            left:0;
            display: flex;
            align-items: center;
        }

        video {
            width: 100%;
        }

        .reel-sidebar {
            width: 60px;
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 10px;
            background-color:aliceblue
        }

        .reel-sidebar ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center; /* Center icons vertically */
        align-items: center; /* Center icons horizontally */
    }

    .reel-sidebar li {
        margin-bottom: 10px; /* Adjust the gap between icons */
    }

    .reel-sidebar button {
        background: none;
        border: none;
        padding: 0;
        font-size: 20px; /* Adjust the font size of icons */
        color: BLACK;
    }
   
    @media (min-width:300px){
        .reel-container {
            min-height:492px;
        }
    }

    @media (max-width:320px){
        .reel-sidebar button  svg{
            color: rgba(244, 247, 248, 0.986);
        }
    }

    @media (max-width: 300px) {
        /* #reelsContainer {
            flex-direction: column;
            align-items: center;
        } */

        .reel-container {
            position: relative;
            margin-bottom: 20px;

        }


        .reel-sidebar {
            position: absolute;
            top: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0);
        }      
    }
    </style>
{% endblock localcss %}

{% block insidebody %}
<div class="container-fluid  px-0">
    <nav class="nav border py-2 fixed-top" style="border: 2px solid dark;z-index:5;">
        <a href="/" class="text-decoration-none d-md-none text-dark"><i class="fas fa-arrow-left"></i></a>
        <div class="text-center  mx-auto">post</div>
    </nav>

    <div id="contentArea" class="mb-5 pb-5">

    </div>
</div>
{% endblock insidebody %}
{% block scripts %}
    <script>
        const postObj  = {{post|safe}};
        if(postObj.is_video){ 
            ReelPlayer.createReel(postObj)
        } else {
            ReelPlayer.createImg(postObj);
        }
    </script>
{% endblock scripts %}
