{% extends '_base.html' %}
{% load static %}

{% block localcss %}
<link rel="stylesheet" href="{% static 'css/tabs.css' %}">
{% endblock localcss %}

{% block insidebody %}

<nav class="navbar navbar-light bg-light">
	<div class="container-fluid">
		<a href="/" class="navbar-brand"><i class="fas fa-arrow-left"></i></a>
		<div style="margin-right:auto">{{user_object.username}}</div>
		<a href="{% url 'signout' %}" style="font-size: 12px;" class="btn btn-outline-primary py-1">Logout</a>
	</div>
</nav>

<section class="profile-metadata">
	<div class="d-flex justify-content-start align-items-center mt-1 sb-stories">
        <!-- Circular profile image for each story -->
        <div class="mr-2">
            <div class="rounded-circle  bg-primary text-center text-white mr-2" style="width: 60px; height: 60px; overflow: hidden;">
              <img src="{{user_profile.profile_img.url}}" alt="Story 1" class="img-fluid rounded-circle" style="object-fit: cover; width: 100%; height: 100%;">  
				 {% if user_object.full_name%}
			 			 <span>{{user_object.full_name }}</span>        
			 	 {% endif %}  
            </div>
        </div>
		<div class="metadata mr-1 d-flex  w-100 justify-content-around">
			{% if user_post_length == 0 %}
			<div style="font-size: 16px;"><b>No Post</b></div>
			{% elif user_post_length == 1 %}
			<div style="font-size: 16px;"><b>{{user_post_length}} Post</b></div>
			{% else %}
			<div style=" font-size: 16px;"><b>{{user_post_length}} Posts</b></div>
			{% endif %}
	
			{% if user_followers == 0 or user_followers == 1 %}
			<div style=" font-size: 16px;"><b>{{user_followers}} follower</b></div>
			{% else %}
			<div style="font-size: 16px;"><b>{{user_followers}} followers</b></div>
			{% endif %}
	
			<div style="font-size: 16px;"><b>{{user_following}} following</b></div>
		</div>
	</div>
</section>
<section class="bio">
	{{user_profile.bio }}
</section>

<section class="follow py-1">
	<form action="/follow" method="POST">
		{% csrf_token %}
		<input type="hidden" value="{{user.username}}" name="follower" />
		<input type="hidden" value="{{user_object.username}}" name="user" />

		<div class="text-right mr-2">
		{% if user_object.username == user.username %}
			<a href="/settings" class="ml-auto border"><button type="button" class="btn btn-primary ml-auto">Account Settings</button></a>
		{% else %}
			<a ><button type="submit" class="btn btn-primary">{{button_text}}</button></a>
		{% endif %}
		</div>

	</form>
</section>

<section class="posts">
	<!-- Tab links -->
<div class="tab d-flex" id="tab">
	<button class="tablinks w-100" id="btnListVideos"><i class="fas fa-video"></i></button>
	<button class="tablinks w-100" id="btnListImages"><i class="fas fa-image"></i></button>
  </div>
  
  <!-- Tab content -->
  <div id="videos" class="tabcontent">
	<div class="container">
		<div class="row tabMainContent">
			{% for reel in user_reels %}
			<div class="col-4 p-0"><video src="{{reel.file.url}}" data-pid="{{reel.id}}" class="w-100 m-0 h-100"></video></div>
			{% endfor %}
		</div>
	</div>
  </div>
  
  <div id="images" class="tabcontent">
	<div class="container">
		<div class="row tabMainContent">
			{% for photo in user_gallery %}
			<div class="col-4 p-0"><img src="{{photo.file.url}}" class="w-100 m-0 h-100" data-pid="{{photo.id}}"></div>
			{% endfor %}
		</div>
	</div>
	</div>
</section>


<!-- file Viewer Modal -->
<div class="modal fade" id="fileViewer" tabindex="-1" role="dialog" aria-labelledby="fileViewer" aria-hidden="true">
    <div class="modal-dialog" style="width:250px;margin:0 auto" role="document">
      <div class="modal-content">
       
		<div class="modal-header p-1 pb-0 m-0">
			<div class="mr-2">
				<div class="rounded-circle  bg-primary text-center text-white mr-2" style="width: 40px; height: 40px; overflow: hidden;">
				  <img src="{{user_profile.profile_img.url}}" alt="Story 1" class="img-fluid rounded-circle" style="object-fit: cover; width: 100%; height: 100%;">   
				</div>
			</div>
			<div class="meta_text">
          		<span style='font-size:14px' class="d-inline-block font-weight-bold modal-title" id="fileViewerLabel">@{{user_object.username}}</span>
				<span class="d-block" id="captionText"></span>
			</div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
		
        <div class="modal-body w-90 mb-0 pb-0">
          <!-- File viewer go here -->
          <figure id="file-content">  
		  </figure>
		  <div data-pid='' id="btn-like"><i class="far fa-heart"></i></div>
		  <div id="likeCountShow"><span id="noOfLikes"></span> <span id="likeText"></span></div>
        </div>

        <div class="modal-footer input-group pt-0">
          <input type="text" id="comment-input" class="form-control" placeholder="Add a comment...">
          <button type="button" class="btn btn-primary px-3" id="btnPostComment" data-pid="" style="padding:2em auto; margin-top:6px"  ><i class="fas fa-paper-plane"></i></button>
        </div>
      </div>
    </div>
</div>
<!-- File Viewer ends here -->

{% endblock insidebody %}

{% block scripts %}
<script src="{% static 'js/profile.js' %}"></script>
<script src="{% static 'js/tab.js' %}"></script>
{% endblock scripts %}
